.Content-container {
  display: flex; 
  justify-content: center;

          background-color: red;
          text-align: center;
          line-height: 75px;
          font-size: 30px;
          justify-content: center;
        }

/* @media all and (min-width: 768px) {
  .Content-container{
              flex: 2;
              order: 2;
              min-height: 80vh;
  }
} */
